<h1>Create an album</h1>

<form action="<%=albums_url%>" method="post">
  <%= render "shared/auth_token" %>
  <label for="name">Name</label>
    <input type="text" id= "name" name="album[name]" value="<%= @album.name%>">
  <br><br>

  <label for="band">Band</label>
    <select id="band" name="album[band_id]">
      <option value=0>band name</option>
      <% Band.select(:name, :id).each do |band| %>
        <option value="<%=band.id%>">
          <%= band.name %> </option>
      <%end %>
    </select>
  <br><br>

  <label for="album_recording_type">Recording Type</label>
    <label id="album_recording_type" for="studio">Studio</label>
      <input type="radio" id="studio" name="album[recorded]" value="studio" checked>
    <label id="album_recording_type" for="live">Live</label>
      <input type="radio" id="live" name="album[recorded]" value="live">
  <br><br>
  <input type="submit">
</form>
